### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file= "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)
purchase_data_df=pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
player_types= purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_types = player_types.drop_duplicates()
player_number = player_types.count()[0]     # Display the total number of players
pd.DataFrame({"Total Players": [player_number]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = len(purchase_data_df['Item ID'].unique())
average_price= round(float(purchase_data_df['Price'].mean()), 2)
purchase_count = len(purchase_data_df['Price'])
price_total= float(purchase_data_df['Price'].sum())
price_total

summary_dataframe = pd.DataFrame({
    'Number of Unique Items': [unique_items],
    'Average Price': '$' + str(average_price),
    'Number of Purchases': [purchase_count],
    'Total Revenue':(price_total)})

summary_dataframe.style.format({"Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
df_genderDemos = purchase_data_df[['Gender','SN']].drop_duplicates(subset = 'SN')

gender_count = df_genderDemos['Gender'].value_counts(0)
gender_percent = df_genderDemos['Gender'].value_counts(1)

gender_count_df = pd.DataFrame(gender_count)
gender_percent_df = round(pd.DataFrame(gender_percent) * 100, 2).astype(str)+'%'

gender_summary_df = gender_count_df.merge(gender_percent_df, left_index = True, right_index = True)
gender_summary_df.columns = ['Total Count', 'Percentage of Players']
gender_summary_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
df_pa_gender = purchase_data_df.groupby('Gender')

purchase_count = round(df_pa_gender['Purchase ID'].count(), 0)
avg_purchase_price = round(df_pa_gender['Price'].mean(), 2).map("${:,.2f}".format)
total_purchase_value = round(df_pa_gender['Price'].sum(), 2)
purchase_value_per_gender = round(total_purchase_value / gender_count, 2).map("${:,.2f}".format)

summary_dataframe2 = pd.DataFrame([purchase_count, avg_purchase_price, total_purchase_value, purchase_value_per_gender])
summary_pa_gender = summary_dataframe2.T

summary_pa_gender.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value', 'Avg Total Purchase per Person']

summary_pa_gender.style.format({"Total Purchase Value": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data_df["Total Count"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)
df_age1 = purchase_data_df[['Total Count','SN']].drop_duplicates(subset = 'SN')

age_demographics_summary = df_age1.groupby("Total Count").count()
age_counts = age_demographics_summary['SN']
age_demographics_percentages = round(age_counts / 576 * 100, 2).astype(str)+'%'
age_demographics_percentages

summary_age_demographics = pd.DataFrame([age_counts, age_demographics_percentages])

summary_data = summary_age_demographics.T.astype(str)

summary_data.columns = ['Total Count', 'Percentage of Players']

summary_data.head(8)

            Total Count Percentage of Players
Total Count
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data_df["Total Count"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)
min_rows = purchase_data_df[['Total Count','SN', 'Price']]

min_rows_grouped = min_rows.groupby('Total Count')
purchase_counts = min_rows_grouped['Price'].count()
average_prices = round(min_rows_grouped['Price'].mean(),2).map("${:,.2f}".format)

total_spent = round(min_rows_grouped['Price'].sum(),2)

spending_per_person = round(total_spent/age_counts,2).map("${:,.2f}".format)

                          
summary_pa_age = pd.DataFrame([purchase_counts, average_prices, total_spent, spending_per_person])
summary_pa_age_b = summary_pa_age.T
summary_pa_age_b.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']


summary_pa_age_b.head(8).style.format({"Total Purchase Value": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
df_sn_2 = purchase_data_df.groupby('SN')
purchase_counts = df_sn_2['Gender'].count()
average_spending = round(df_sn_2['Price'].mean(),2)
total_purchase = round(df_sn_2['Price'].sum(),2)

summary_Top_Spend = pd.DataFrame([purchase_counts, average_spending, total_purchase])
summary_Top_Spend_b = summary_Top_Spend.T
summary_Top_Spend_b.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']
summary_Top_Spend_b.sort_values('Total Purchase Value', ascending=False).reset_index().head().style.format(
    {"Purchase Count":"{:,.0f}","Total Purchase Value":"${:,.2f}","Average Purchase Price":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
df_sn_3 = purchase_data_df.groupby(['Item ID', 'Item Name'])
purchase_counts2 = df_sn_3['Gender'].count()
average_spending2 = round(df_sn_3['Price'].mean(),2)
total_purchase2 = round(df_sn_3['Price'].sum(),2)

summary_top_spend_b = pd.DataFrame([purchase_counts2, average_spending2, total_purchase2])
summary_M_Pop_Items = summary_top_spend_b.T
summary_M_Pop_Items.columns = ['Purchase Count', 'Item Price', 'Total Purchase Value']
summary_M_Pop_Items_b = summary_M_Pop_Items.sort_values('Purchase Count', ascending=False)
summary_M_Pop_Items_b .head().style.format(
    {"Purchase Count":"{0:,.0f}","Total Purchase Value": "${:,.2f}","Item Price":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
summary_M_Pop_Items_b.sort_values('Total Purchase Value', ascending=False).head().style.format(
    {"Purchase Count":"{0:,.0f}","Total Purchase Value": "${:,.2f}","Item Price":"${:,.2f}"})